{% extends 'base.html' %}

{% block title %}Links Home{% endblock %}

{% block content %}
    <a href="{% url 'home' %}">Project Home</a><br>
    <a href="{% url 'links:create' %}">Link Create</a><br>
    <a href="/accounts/profile/admin/">admin's Links</a><br>
    <a href="/accounts/profile/testUser/">testUser's Links</a><br>
</nav>

{% include 'login_logout.html' %}

    {% for link in link_list %}
        <div>
            <a href="{{ link.url }}" target="_blank">{{ link.url_label }}</a><br>
            <a href="{% url 'links:detail' link.id %}">Details for {{ link.url_label }}</a><br>
            <p>{{ link.owner }} - Public:{{ link.public }}</p>
            <p>{{ link.id }} : {{ link.notes }}</p>
        </div>
    {% endfor %}

{% endblock content %}