{% extends 'base.html' %}

{% block title %}Link Detail{% endblock %}

{% block content %}
    <a href="{% url 'project_home' %}">Project Home</a><br>
    {% comment %} <a href="{% url 'links:list' %}">Links Home</a><br> {% endcomment %}
    <a href="{% url 'links:create' %}">Link Create</a><br>
</nav>

{% include 'login_logout.html' %}

    <div>
        <a href="{{ link.url }}" target="_blank">{{ link.url_label }}</a>
        <p>{{ link.owner|capfirst }}</p>
        <p>Public:{{ link.public }} : {{ link.id }} : {{ link.notes }}</p>
    </div>

    {% if user == link.owner %}
        <p><a href="{% url 'links:edit' link.id %}">Edit Your Link</a></p>
        <p><a href="{% url 'links:delete' link.id %}">Delete Your Link</a></p>
    {% endif %}

{% endblock content %}