{% extends 'base.html' %}

{% block title %}{{ user_profile.username|capfirst }}'s Links{% endblock %}

{% block content %}
    <a href="{% url 'project_home' %}">Project Home</a><br>
    <a href="{% url 'links:public' %}">Public Links</a><br>
    <a href="{% url 'links:create' %}">Link Create</a><br>
</nav>

{% include 'login_logout.html' %}

    <h1>{{ user_profile.username|capfirst }}'s Links</h1>
    <p>Number of Links: {{ number_of_links }}</p>

    {% for link in user_profile.links.all %}
        <article class="link-entry">
            <a href="{{ link.url }}" target="_blank">{{ link.url_label }}</a><br>
            <p>{% if link.public == True %}Public{% else %}Private{% endif %} : {{ link.id }} : {{ link.notes }}</p>
            <a href="{% url 'links:detail' link.pk %}">Detail view of {{ link.url_label }}</a><br>
        </article>
    {% endfor %}

{% endblock content %}