{% extends 'base.html' %}

{% block title %}Link Create{% endblock %}

{% block content %}
    <a href="{% url 'project_home' %}">Project Home</a><br>
    <a href="{% url 'links:public' %}">Public Links</a><br>
    <a href="{% url 'links:profile' %}">Links Home</a><br>
</nav>

{% include 'login_logout.html' %}

    <h1>Create New Link</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>

{% endblock content %}