{% extends 'base.html' %}

{% load humanize %}

{% block title %}Links List{% endblock %}

{% block content %}
    <a href="{% url 'project_home' %}">Project Home</a><br>
    {% if user.is_authenticated %}
    <a href="{% url 'links:public' %}">Public Links</a><br>
    <a href="{% url 'links:profile' %}">Links Home</a><br>
    <a href="{% url 'links:create' %}">Link Create</a><br>
    {% else %}
    {% endif %}
</nav>

{% include 'login_logout.html' %}
    <h1>{{ username|capfirst }}'s Links</h1>
    {% for link in link_list %}
        <article style="margin: 3em 0">
            <a href="{{ link.url }}" target="_blank">{{ link.url_label|truncatechars:30 }}</a><br>
            <p>{{ link.owner }} : {{ link.id }} : {{ link.notes|truncatechars:30 }}</p>
            <a href="{% url 'links:detail' link.id %}">Detail view of {{ link.id|ordinal }} Link</a><br>
        </article>
    {% endfor %}

{% endblock content %}