{% extends 'base.html' %}

{% block title %}Link Detail{% endblock %}

{% block content %}
    <a href="{% url 'project_home' %}">Project Home</a><br>
    <a href="{% url 'links:public' %}">Public Links</a><br>
    <a href="{% url 'links:profile' %}">Links Home</a><br>
    <a href="{% url 'links:create' %}">Link Create</a><br>
</nav>

{% include 'login_logout.html' %}

    <div>
        <a href="{{ link.url }}" target="_blank">{{ link.url_label }}</a>
        <p>{% if link.public == True %}Public{% else %}Private{% endif %} : {{ link.id }} : {{ link.notes }}</p>
        <p>{{ link.owner|capfirst }}</p>
    </div>

    {% if user == link.owner %}
        <p><a href="{% url 'links:update' link.id %}">Edit Link</a></p>
        <p><a href="{% url 'links:delete' link.id %}">Delete Link</a></p>
    {% endif %}

{% endblock content %}