{% extends 'base.html' %}

{% load humanize %}

{% block title %}{{ user_profile.username|capfirst }}'s Links{% endblock %}

{% block content %}
    <a href="{% url 'project_home' %}">Project Home</a><br>
    <a href="{% url 'links:public' %}">Public Links</a><br>
    <a href="{% url 'links:list' %}">Links List</a><br>    
    <a href="{% url 'links:create' %}">Link Create</a><br>
    <a href="{% url 'accounts:update' user_profile.id %}">Edit User Profile</a><br>
</nav>

{% include 'login_logout.html' %}

    <h1>{{ user_profile.username|capfirst }}'s Links</h1>
    <p>Number of Links: {{ number_of_links }}</p>

    {% for link in user_profile.links.all %}
        <article class="link-entry" style="margin: 3em 0">
            <a href="{{ link.url }}" target="_blank">{{ link.url_label|truncatechars:30 }}</a><br>
            {% comment %} <p>{% if link.public == True %}Public{% else %}Private{% endif %} : {{ link.id }} : {{ link.notes|truncatechars:30 }}</p> {% endcomment %}
            <p>{% if link.public == True %}Public{% else %}Private{% endif %} : {{ link.id }} : <pre>{{ link.notes }}</pre></p>
            <a href="{% url 'links:detail' link.pk %}">Detail view of {{ link.id|ordinal }} Link</a><br>
        </article>
    {% endfor %}

{% endblock content %}