<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Octo Computing Machine{% endblock %}</title>
</head>
<body>
    <main>
        <a href="{% url 'links:link-list' %}">Link List</a><br>
        <a href="{% url 'links:link-create' %}">Link Create</a><br>
        <a href="http://localhost:8020/api/v1/" target="_blank">API</a><br>
        <a href="http://localhost:8020/admin/" target="_blank">Admin</a><br>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
