<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Octo Computing Machine{% endblock %}</title>
</head>
<body>
    <main>
        <nav class="nav-main">
        {% block content %}
        {% endblock %}
    </main>
    <hr>
    <footer>
        <a href="http://localhost:8020/api/v1/" target="_blank">API - External site</a><br>
        <a href="http://localhost:8020/admin/" target="_blank">Django Admin Page - External site</a><br>
    </footer>
</body>
</html>
